.App {
  text-align: center;
  color: #fff;

}
body {
  background-color: rgb(14, 6, 6);
  background-attachment: fixed;
  padding-top: 80px;
}

.photo-container >img{
  height: 460px;
  width: 750px;
  display:inline-flex;
  padding: 30px;
  border: seashell dotted 2px;

}

.user-input {
  display: inline-flex;


}
.user-input > div{
  padding: 12px 20px;
  margin: 8px 20px;
}



.text-form > input{
  width: max-content;
}
